<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.user.model.UserMapper">
	<insert id="insertUser" parameterType="User">
		<selectKey keyProperty="idx" resultType="_int" order="BEFORE">
			select member_idx_sq.nextval from dual
		</selectKey>
		insert into member(idx,name,userid,pwd,hp1,hp2,hp3,post,addr1,addr2,indate,mileage,status)
		values(#{idx},#{name},#{userid},#{pwd},#{hp1},#{hp2},#{hp3},#{post:VARCHAR},#{addr1:VARCHAR},#{addr2:VARCHAR},sysdate,1000,#{status})
	</insert>
	
	<select id="idCheck" resultType="int" parameterType="string">
		select idx from member where userid=#{value}
	</select>
	
	<select id="selectUserByUserid" parameterType="string" resultType="User">
		select member.*, decode(status,0,'일반회원',-1,'정지회원',-2,'탈퇴회원',9,'관리자') statusStr
		 from member where userid=#{value}	
	</select>
	
	<select id="getUser" resultType="user" parameterType="int">
	 	select member.*, decode(status,0,'일반회원',-1,'정지회원',-2,'탈퇴회원',9,'관리자') statusStr from member where idx=#{value}
	</select>
	<!-- com.user.model.PagingVO은 별칭안줌 -->
	<select id="listUser" resultType="user" parameterType="com.user.model.PagingVO">
		select member.*, decode(status,0,'일반회원',-1,'정지회원',-2,'탈퇴회원',9,'관리자') statusStr
		from member order by idx desc
	</select>
	
	<delete id="deleteUser" parameterType="int">
		delete from member where idx=#{value}
	</delete>
	
	<update id="updateUser" parameterType="user">
		update member set name=#{name}, pwd=#{pwd}, post=#{post:VARCHAR}, 
		hp1=#{hp1},hp2=#{hp2},hp3=#{hp3},addr1=#{addr1:VARCHAR}, addr2=#{addr2:VARCHAR}, status=#{status}
		where idx=#{idx}
	</update>
	
	<select id="findUser" resultType="user" parameterType="user">
		select member.*, decode(status,0,'일반회원',-1,'정지회원',-2,'탈퇴회원',9,'관리자') statusStr
		from member where userid = #{userid} and pwd = #{pwd}
	</select>
</mapper>
<!-- //,jdbcType=VARCHAR -->